<div class="panel panel-default">
  <div class="panel-heading">
    <h4>{{ contact?.name }}</h4>
    <div class="ml-contact-detail">
      <img [src]="contact?.imageUrl" alt="{{ contact?.name }}" class="img-responsive ml-img-h50px">
      <div>
        <a routerLink="edit" class="btn btn-primary">Edit</a>
        <a (click)="onDelete()" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <section class="panel-body">
      <p><b>Email:</b> {{contact?.email}}</p>
      <p><b>Phone:</b> {{contact?.phone}}</p>
  </section>
</div>